body {
    width: 1920px;
    height: 1080px;
    background-color: rgb(6, 159, 197);
    background-image: url(../imagem/eventt2.jpg);
    background-size: 500px;


}


span {

    height: 600px;
    width: 190px;
    margin-left: 10px;
    position: fixed;
    border: 3px;
    border-style: solid;
    border-color: rgb(76, 255, 6);
    padding-top: 30px;




}


.menu {
    transition: 2s;
    position: absolute;
    color: aliceblue;
    margin-left: 10px;
    text-align: center;
    font-family: monospace;
    font-size: 15px;
    position: absolute;
    margin-top: 100px;

}

.menu:hover {
    transition: 2s;
    color: rgb(4, 172, 250);

}

.menu:hover {
    transition: 2s;
    font-size: 30px;
}



#cabecalho {

    margin-left: 650px;
    margin-top: 20px;
    height: 100px;
    width: 800px;
    border-radius: 100px;
    background-color: rgb(107, 201, 14);
}

h1 {
    color: white;
    font-family: monospace;
    padding-top: 30px;
    text-align: center;
    font-size: 60px;

}


main {
    position: absolute;
    margin-top: 100px;
    margin-left: 260px;
    height: 1800px;
    width: 1590px;



}


.imgevent {
    height: 380px;
    width: 480px;
    margin-top: 50px;
    margin-left: 20px;
    border-style: double;
    border-color: rgb(185, 47, 139);


}



footer {
    position: absolute;
    margin-top: 1900px;
    height: 130px;
    width: 100%;
    background-color: rgba(248, 252, 249, 0.089);
}

h6 {
    position: absolute;
    font-size: 20px;
    color: white;
    margin-top: 10px;
    font-family: monospace;
    margin-left: 70px;
}



#eua {
    position: absolute;
    height: 60px;
    width: 60px;
    margin-left: 380px;
    margin-top: -20px;

}

#franca {
    position: absolute;
    height: 55px;
    width: 65px;
    margin-left: 450px;
    margin-top: -15px;

}

#bra {
    position: absolute;
    height: 55px;
    width: 55px;
    margin-left: 530px;
    margin-top: -15px;

}

#canada {
    position: absolute;
    height: 75px;
    width: 150px;
    margin-left: 560px;
    margin-top: -18px;

}

h5 {

    font-size: 20px;
    color: white;
    margin-top: -98px;
    font-family: monospace;
    margin-left: 490px;

}


#rod {
    color: white;
    position: absolute;
    font-family: monospace;
    margin-top: 30px;
    margin-left: 880px;
}