body {
    width: 1920px;
    height: 1080px;
    background-color: black;



}


#cabecalho {

    margin-left: 600px;
    margin-top: 80px;
    height: 100px;
    width: 800px;
    border-radius: 100px;
    background-color: rgb(107, 201, 14);
}

h1 {
    color: white;
    font-family: monospace;
    padding-top: 30px;
    text-align: center;
    font-size: 60px;

}

span {

    height: 600px;
    width: 190px;
    margin-left: 10px;
    position: fixed;
    border: 3px;
    border-style: solid;
    border-color: rgb(76, 255, 6);
    padding-top: 30px;




}



.menu {
    transition: 2s;
    position: absolute;
    color: aliceblue;
    margin-left: 10px;
    text-align: center;
    font-family: monospace;
    font-size: 15px;
    position: absolute;
    margin-top: 100px;

}



.menu:hover {
    transition: 2s;
    color: rgb(4, 172, 250);

}

.menu:hover {
    transition: 2s;
    font-size: 30px;
}


.artist {
    float: right;
    margin-left: 200px;
    margin-top: 100px;
    height: 300px;
    width: 400px;
    border-radius: 100px;
    border-color: rgb(109, 11, 236);
    border-style: groove;
}


.docum {
    float: right;
    margin-left: 200px;
    margin-top: 100px;
    height: 300px;
    width: 400px;
    border-radius: 100px;
    border-color: rgb(192, 180, 14);
    border-style: groove;

}

.event {
    float: right;
    margin-left: 200px;
    margin-top: 100px;
    height: 300px;
    width: 400px;
    border-radius: 100px;
    border-color: rgb(249, 251, 252);
    border-style: groove;

}

.empres {
    float: right;
    margin-left: 200px;
    margin-top: 100px;
    height: 300px;
    width: 400px;
    border-radius: 100px;
    border-color: rgb(107, 236, 32);
    border-style: groove;

}

footer {
    position: absolute;
    margin-top: 2500px;
    height: 130px;
    width: 100%;
    background-color: rgba(222, 226, 223, 0.267);
}

h6 {
    position: absolute;
    font-size: 20px;
    color: white;
    margin-top: 10px;
    font-family: monospace;
    margin-left: 70px;
}

#rod {
    color: white;
    position: absolute;
    font-family: monospace;
    margin-top: 30px;
    margin-left: 880px;
}

#eua {
    position: absolute;
    height: 60px;
    width: 60px;
    margin-left: 380px;
    margin-top: -20px;

}

#franca {
    position: absolute;
    height: 55px;
    width: 60px;
    margin-left: 450px;
    margin-top: -15px;

}

#bra {
    position: absolute;
    height: 55px;
    width: 55px;
    margin-left: 530px;
    margin-top: -15px;

}

#canada {
    position: absolute;
    height: 75px;
    width: 150px;
    margin-left: 560px;
    margin-top: -18px;

}

h5 {

    font-size: 20px;
    color: white;
    margin-top: -98px;
    font-family: monospace;
    margin-left: 490px;

}