body {
    width: 1920px;
    height: 1080px;
    background-color: rgba(0, 0, 0, 0.884);
    background-image: url(../imagem/traba3.jpeg);
    background-repeat: repeat;
    background-position: right;


}


#trab {
    margin-left: -20px;
}

fieldset {
    border-style: groove;
    border: 10px;
    color: white;
    font-family: monospace;
    font-size: 15px;
    height: 700px;
    width: 600px;
    margin-left: 710px;
    background-color: rgba(0, 0, 0, 0.534);
}

legend {
    text-align: center;
}


form {
    text-align: center;

}

#number {
    width: 50px;
}

#city {
    width: 90px;
}

span {

    height: 600px;
    width: 190px;
    margin-left: 10px;
    position: absolute;
    border: 3px;
    border-style: solid;
    border-color: rgb(76, 255, 6);
    padding-top: 30px;




}



.menu {
    transition: 2s;
    position: absolute;
    color: aliceblue;
    margin-left: 10px;
    text-align: center;
    font-family: monospace;
    font-size: 15px;
    position: absolute;
    margin-top: 100px;

}


.menu:hover {
    transition: 2s;
    color: rgb(4, 172, 250);

}

.menu:hover {
    transition: 2s;
    font-size: 30px;
}


footer {

    margin-top: 250px;
    height: 130px;
    width: 100%;
    background-color: rgba(248, 252, 249, 0.089);
}

h6 {
    position: absolute;
    font-size: 20px;
    color: white;
    margin-top: 10px;
    font-family: monospace;
    margin-left: 70px;
}

#rod {
    color: white;
    position: absolute;
    font-family: monospace;
    margin-top: 30px;
    margin-left: 880px;
}


#eua {
    position: absolute;
    height: 60px;
    width: 60px;
    margin-left: 380px;
    margin-top: -20px;

}

#franca {
    position: absolute;
    height: 55px;
    width: 65px;
    margin-left: 450px;
    margin-top: -15px;

}

#bra {
    position: absolute;
    height: 55px;
    width: 55px;
    margin-left: 530px;
    margin-top: -15px;

}

#canada {
    position: absolute;
    height: 75px;
    width: 150px;
    margin-left: 560px;
    margin-top: -18px;

}

h5 {

    font-size: 20px;
    color: white;
    margin-top: -98px;
    font-family: monospace;
    margin-left: 490px;

}